**************************************************************
*                                                            *
* DRILL TAPE SUMMARY REPORT                                  *
*                                                            *
* H:\VEHICULO AUTOGUIADO\ORCAD\FUENTE CC-CC\PROYECTODEF.MAX  *
* Wed Feb 22 11:17:54 2006                                   *
*                                                            *
**************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       236      18       200      100                                                                                 
T2       280      40       200      100                                                                                 
T3       310      40       200      100                                                                                 
T4       315      64       200      100                                                                                 
T5       340      102      200      100                                                                                 
T6       420      8        200      100                                                                                 
T7       540      27       200      100                                                                                 
T8       700      16       200      100                                                                                 
T9       787      12       200      100                                                                                 
