***************************************************
*                                                 *
* DRILL TAPE SUMMARY REPORT                       *
*                                                 *
* H:\VEHICULO AUTOGUIADO\ORCAD\ESQUEMAS\PCB3.MAX  *
* Wed Feb 15 12:14:48 2006                        *
*                                                 *
***************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       330      288      200      100                                                                                 
T2       394      362      200      100                                                                                 
T3       420      9        200      100                                                                                 
T4       540      57       200      100                                                                                 
T5       1200     2        200      100                                                                                 
